body {
    width: 100vw;
    height: 100vh;

    background-image: url(../assets/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: var(--ff-main);
}

/* !Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .375rem;
    padding-bottom: .4rem;
    padding-inline: 1rem;

    background-color: var(--white);
}

header h1 {
    font-weight: var(--fw-bold);
}


/* ? Hamburguer Menu */
.hamburguer {
    position: relative;

    display: block;
    width: 35px;
    height: 35px;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    cursor: pointer;
}

.hamburguer .bar,
.hamburguer:after,
.hamburguer:before {
    width: 100%;
    height: 5px;
    content: '';
    display: block;
    background-color: var(--black);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburguer.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburguer.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburguer.is-active .bar {
    opacity: 0;
}

/* ? Mobile Nav */

.mobile__nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 1;
    margin-top: 46px;
    padding-top: 10px;
    transition: 0.4s;
}

.mobile__nav.is-active {
    left: 0;
    background-color: white;
}

.mobile__nav a {
    display: block;
    width: fit-content;
    height: fit-content;
    max-width: 100px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: white;
    text-decoration: none;


    font-size: 18px;
    font-weight: var(--fw-bold);
}

.mobile__nav .login__btn {
    color: var(--purple);
    background-color: var(--white);
    border: 1px solid var(--purple);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.mobile__nav .login__btn:hover {
    background-color: var(--lightpurple);
    color: white;
    border: 1px solid var(--lightpurple);
}

.mobile__nav .register__btn {
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.mobile__nav .register__btn:hover {
    background-color: var(--lightpurple);
    color: white;
    border: 1px solid var(--lightpurple);
}

/* !Main */

main {
    padding-top: 80px;
}

.login__wrapper {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 90%;

}

.login__container h2 {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    padding-top: 40px;
}

.login__container p {
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 16px;
}

.login__container form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

.login__container form input {
    width: 90%;
    height: 52px;
    box-sizing: border-box;

    padding-left: 10px;

    background-color: white;
    border: 1px solid rgba(87, 86, 86, 0.5);
}


.login__container form button {
    width: 90%;
    box-sizing: border-box;
    height: 48px;

    background-color: var(--purple);
    color: var(--white);

    border: 1px solid var(--purple);
    font-family: var(--ff-main);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s, border 0.5s;
}

.login__container form button:hover {
    background-color: var(--lightpurple);
    border: 1px solid var(--lightpurple);
}

.login__container span {
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    padding-block: 28px;
    font-weight: var(--fw-bold);
}

.login__container a {
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;

    font-size: 1rem;

    width: 90%;
    padding-block: 15px;
    margin-bottom: 38px;

    border: 1px solid var(--purple);
    font-weight: var(--fw-bold);
    color: var(--purple);

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.login__container a:hover {
    background-color: var(--lightpurple);
    color: white;
    border: 1px solid var(--lightpurple);
}

.desktop__nav {
    display: none;
}

/* ! MEDIA QUERRIES SETTINGS */
@media (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login__wrapper {
        max-width: 650px;
    }

    .login__container form {
        align-items: center;
    }

    .login__container,
    form,
    input,
    select,
    a {
        align-items: center;
        width: 70%;
    }

    .mobile__nav,
    .hamburguer {
        display: none;
    }

    header {
        height: fit-content;
        justify-content: space-around;
    }

    .desktop__nav {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .desktop__nav .login__btn {
        color: var(--purple);
        background-color: var(--white);
        border: 1px solid var(--purple);
        cursor: pointer;
        padding-block: 15px;
        padding-inline: 50px;


        transition: background-color 0.5s, color 0.5s, border 0.5s;
    }
    
    .desktop__nav .login__btn:hover {
        background-color: var(--lightpurple);
        color: white;
        border: 1px solid var(--lightpurple);
    }

    .desktop__nav .register__btn {
        color: var(--white);
        background-color: var(--purple);
        border: 1px solid var(--purple);
        cursor: pointer;
        padding-block: 15px;
        padding-inline: 50px;
    }
    
    .desktop__nav .register__btn:hover {
        background-color: var(--lightpurple);
        color: white;
        border: 1px solid var(--lightpurple);
    }


}